body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.star-icon {
    padding: 0 2px;
    margin: 0;
    font-size: 1em;
    color: rgb(255, 217, 0);
}

.card-header {
    padding: 1em;
    font-size: 1.5em;
    line-height: 1.2;
    margin: auto;
    text-align: center;
}

.container {
    margin: 0 10em;
}

.cards {
    margin-bottom: 5em;
    border: 1px solid #e1e1e1;
    height: 366px;
}

.card-image {
    width: 600px;
    height: 366px;
    float: left;
    padding-right: 50px;
}

.card-content {
    padding: 30px 50px;
    position: relative;
}

.card-reviews {
    display: inline-block;
    padding-left: 1em;
    font-size: 0.8em;
    font-weight: bold;
    color: #9b9b9b;
}

.card-description {
    padding-bottom: 1em;
    color: #9b9b9b;
}

.card-button {
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #2c2c2c;
    background-color: white;
    background-image: linear-gradient(#2f4f4f, #2f4f4f);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;
}

.card-button:hover {
    background-size: 100% 100%;
    color: #fff;
    border: 2px solid #2f4f4f;
}

.card-price {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 30px;
    text-align: center;
    margin: auto;
    padding: 1em 0.5em;
    background-color: darkslategrey;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    border-bottom-left-radius: 20px;
}

body {
    margin: 0;
    font-family: montserrat, sans-serif, Arial, sans-serif;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: darkslategrey;
    color: white;
    text-align: center;
}

footer ul {
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    height: 150px;
}

footer li {
    list-style: none;
    display: flex;
    align-items: baseline;

}

footer i {
    color: #90caf9;
    margin-right: 50px;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
}
footer .news ul li{
    flex-flow: column;
}
footer h3{
    font-weight: 700;
}





/*Navigation Part*/

.top-nav{
    background-color: darkslategray;
}



header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 20px;

}

header ul li {
    display: inline-block;
    float: left;
/*    margin-right: 1px;*/
    background-color: darkslategray;
}

header ul li.right {
    float: right;
}

header ul li a:hover:not(.active) {
   background-color: lightgray;
    color: black;
}


header ul li a.active {
    background-color: lightgray;
    color: black;

}




header li a {
    display: block;
    min-width: 140px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    background: darkslategray;
    text-decoration: none;
}

header ul li.right a {
    float: right;
    min-width: 30px;
}


header li:hover ul li a {
     min-width: 130px;
    height: 40px;
    line-height: 40px;

}

header li:hover ul li a:hover {
    color: black;
}

header li ul {
    display: none;
}

header li ul li {
    display: block;
    float: none;
}

header li ul li a {
    min-width: 100px;
    padding: 0px 5px;
}


header ul li a:hover + .hidden,
.hidden:hover {
    display: block;
    position: absolute;
    z-index: 1;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #menu {
    display: block;
}

.show-menu {

    text-decoration: none;
    color: white;
    background: darkslategray;
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
    display: none;
    transition: color 1s;
}

label:hover {
    color: darkgray;
}




@media screen and (max-width: 760px) {
header ul {
        position: static;
        display: none;
    }

header li {
        margin-bottom: 1px;
    }

    header ul li,
    li a {
        width: 100%
    }

    .show-menu {
        display: block;
    }

header ul li a:hover + .hidden,
    .hidden:hover {
        display: block;
        position: relative;

    }
    .right{
        display: none;
    }


}

}

